Importing the dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

loading the dataset to Pandas dataframe

In [2]:
card_data = pd.read_csv("creditcard.csv")

In [3]:
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
#Dataset Information
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
#checking for missing value
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
# checking the distribution for fradulent and legit transactions
card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 ---> Normal Transaction
1 ---> Fraudulent Transaction

This implies an imbalanced data.

In [13]:
# Seperating the data for analysis
legit = card_data[card_data.Class == 0]
fraud = card_data[card_data.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [18]:
# Statistical Measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
# Comparing the values of the transaction by its mean
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Balancing the dataset using undersampling

number of fraudulent = 492

In [23]:
legit_sample = legit.sample(n=492)

In [24]:
# Concatenating two dataframes
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [25]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
34707,37791.0,-0.812541,0.903397,2.178546,-1.157614,0.444677,-1.073468,1.243571,-0.325799,-0.367720,...,-0.263060,-0.757499,-0.247524,0.350080,0.329799,-0.176581,-0.207813,-0.171807,1.98,0
85465,60783.0,1.306090,0.301936,-0.207488,0.267920,0.358083,0.004824,-0.015287,0.002033,-0.203546,...,-0.316603,-0.920920,-0.048332,-0.996632,0.374052,0.156071,-0.025676,0.008320,1.29,0
80495,58511.0,0.973067,-0.656963,1.032995,0.229953,-1.227334,-0.153410,-0.634086,0.132286,0.621347,...,0.189385,0.428176,-0.136885,0.429600,0.146709,1.079705,-0.058981,0.023957,115.00,0
167460,118700.0,-0.923495,0.635619,0.826913,-0.382041,0.676721,-1.166096,0.918927,-0.412009,0.327241,...,-0.315305,-0.738086,-0.140964,0.008837,-0.343368,0.230538,-0.288301,0.070422,1.78,0
268683,163338.0,1.623628,-0.899099,-1.271247,0.462671,-0.129904,-0.068097,0.040950,-0.076696,0.509136,...,0.102581,-0.034254,-0.060171,-0.765335,-0.219938,0.234659,-0.079417,-0.034669,214.85,0

In [41]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [42]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95919.898374,-0.064379,-0.106388,-0.046024,-0.072529,0.034970,-0.090094,0.038004,0.016212,0.006649,...,0.029309,0.013207,-0.075817,-0.023886,-0.002086,0.008193,-0.023543,-0.038818,0.026462,101.301240
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

The above analysis imples that undersampling the data did not affect the nature of the data

In [43]:
# Creating a duplicate data
df = new_dataset

Splitting the data into Features and Target Variables

In [44]:
X = df.drop(columns = 'Class', axis=1)
y = df['Class']

In [55]:
print(X.shape, y.shape)

(984, 30) (984,)

Splitting the data into training data and testing data

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state=2)

In [56]:
print(X.shape, X_train.shape, X_test.shape)
print(y.shape, y_train.shape, y_test.shape)

(984, 30) (787, 30) (197, 30)
(984,) (787,) (197,)

Model Training

Logistic Regression

In [57]:
model = LogisticRegression()

In [58]:
# training the model with the train_data
model.fit(X_train, y_train)

LogisticRegression()

Model_Evaluation

In [59]:
# Accuracy on train data
X_train_prediction = model.predict(X_train)
training_data_prediction = accuracy_score(X_train_prediction, y_train)

In [60]:
print('Accuracy on training data: ', training_data_prediction)

Accuracy on training data:  0.9237611181702668

In [62]:
# Accuracy on test data
X_test_predtion = model.predict(X_test)
test_data_prediction = accuracy_score(X_test_predtion, y_test)

In [63]:
print('Accuracy on test data: ', test_data_prediction)

Accuracy on test data:  0.8629441624365483